div{
    height: 100px;
    width: 100px;
    background-color:#ffbfe0d2;
    /* this last d2 is alpha value which decides visibility/opacity of color ( 0 means not visible and 1 is completely visible ) ( Ranges from 0 to 1 )*/
    /* transition: 1s;
    transition-delay: 1s; */
    margin: 0 auto;  /*  align at center */
    margin-top: 10px;
    /* transition: margin-top 2s ease-in 0.2s; */
    transition: width 2s, height 4s, background-color 3s;
    /* This transition happen when either widrh,height or background-color changes */
}

div:hover{
    /* margin-top: 400px; */
    width: 200px;
    height: 300px;
    background-color: green;
}

/* div:hover{
    background-color: black;
    border-radius: 50%;
} */




/* Opacity -sets the visibility for element ( ranges from 0 to 1 ) */

/* #box{ */
    /* height: 200px;
    width: 200px; */
    /* background-color: greenyellow;
    opacity: 1; */
    /* If we set opacity to 0 here then heading,button all will get vanish  */
/* } */

/* CSS transitions - enables you to define transition between 2 states of element */